<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
         <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class = "h-screen w-100/100">
        <div class = "h-10/100 w-30/100 bg-white mt-20 mr-auto ml-auto flex items-center justify-center border-2 border-black">
            <h1 class = "text-l font-bold text-gray-900">
                The current time and date
            </h1>
        </div>
        <div class = "h-20/100 w-50/100 bg-white mt-10 mr-auto ml-auto flex items-center justify-center border-2 border-black">
            <h1 class = "w-40/100 text-center text-5xl font-weight">
                {{time}}
            </h1>
        </div>
    </body>
</html>