*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px auto;
    width: 50%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 2px solid gray;
    
}

.empty-div{
    width: 100%;
    height: 25%;
    background-color: rgb(23 162 184);
}

.jane-doe-div{
    width: 95%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

#jane-m{
    height: 90px;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 40px;
}

.location{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-profile{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map-marker, #gear{
    height: 35px;
}

#seatle-h3{
    font-weight: bold;
    font-size: 20px;
}

.under-location-p{
    font-weight: bold;
}

